<!DOCTYPE HTML>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Jquary -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><!-- javascript file -->
    <script src="../static/js/mediaelement-and-player.js"></script>
    <link rel="stylesheet" href="../static/js/mediaelementplayer.css">
    <link rel="stylesheet" href="../static/styles/my.css">
    <title></title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img class="logo_image" src="../media/skuba.jpg" alt="Skuba Image">
          <a class="navbar-brand" href="index.html">Web Developing</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="wareframe.html" >Wireframe</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="html.html">Html</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="css.html">CSS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript.html">JavaScript</a>
              </li>
              <li class="nav-item">
                  <div class="dropdown">
                      <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Learn More
                      </a>
                    
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="application.html">Apply</a>
                        <a class="dropdown-item" href="tuitions.html">Fees and Tuitions</a>>
                      </div>
                    </div>
              </li>
            </ul>
          </div>
        </nav>
      <main>
          <!-- <div class="row sencond_row"> -->
              <!-- <div class="col">
                <video >
                   <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
                   <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogv">
                </video>
              </div> -->


            <!-- </div> -->
                <div class="row">
                  <div class=" col-12 "></div>
                    <h2 style="text-align: center;width: 100%"> Why do we use WareFraming?</h2>
                  </div>
                </div>
                
                <div class="row">
                  <div class=" col-sm-2 col-md-1  col-lg-2 "></div>
                  
                  <div class=" col-sm-8 col-md-10 col-lg-8 ">
                      <video>
                          <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
                          <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogv">
                           <!-- <track src="brige-caption.vtt" kind="subtitles" srclang="en" label="English"> -->
                       </video>
                  </div>
                  <div class=" col-sm-2 col-md-1 col-lg-2 "> </div>
                </div>

              <div class="container first-container">
                  <div class="row">
                    <div class=" col-sm-12 col-md-4">
                        <img src="../media/web_1.jpg" alt="Italian Trulli">
                        <h2> Why you should learn web development</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../media/web_2.jpg" alt="Italian Trulli">
                        <h2> What is web development</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="../media/web_3.jpg" alt="Italian Trulli">
                        <h2> Why to choose Us</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                  </div>
                
              </div>
      </main>

      <footer >

          <h6>Designer: Sinan Cengiz</h6>
          <p><a href="mailto:hege@example.com">sinan@example.com</a></p>
      </footer>

      <script>
        $('video').mediaelementplayer({
          features:["playpause","progress",'current','duration','volume','fullscreen'],
          startVolume: 0.5,
          // useful for <audio> player loops
          loop: true,
          width:100%,
          heigt:300px,
        });


      </script>

    <!-- Optional JavaScript -->
    <script type="text/javascript" src ="../static/js/index.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
